/* Reset */
body,h1,h2,h3,h4,p,dl,dd,ul,ol,form,input,textarea,th,td,select {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
em {
  font-style: normal;
}
li {
  list-style: none;
}
table {
  border-collapse: collapse;
}
img {
  border: none;
  vertical-align: top;
}
input,textarea {
  outline: none;
}
textarea {
  resize: none;
  overflow: auto;
}
body {
  font-size: 12px;
  font-family: '微软雅黑';
}

/* Common Style */
.clear {
  zoom: 1;
}
.clear:after {
  content: '';
  display: block;
  clear: both;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.gradient {
  background: -webkit-linear-gradient(top, #ffffff 0%, #f8f8f8 100%);
}
.triangle {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  position: absolute;
}
.triangle-top {
  border-bottom:4px solid #e21c01;
}
.triangle-bottom-red {
  border-top:4px solid #e21c01;
}
.triangle-bottom-gray {
  border-top:4px solid #c4bdbd;
}
.title {
  height: 40px;
  line-height: 40px;
  position: relative;
}
.title strong,.nav li strong {
  color: #cc0d13;
  font-family: arial;
  font-size: 12px;
}
.title span, .nav li span {
  font-weight: bold;
  color: #000;
}
.title a {
  position: absolute;
  top: 15px;
  right: 0;
}

/* Layout */
#header,
#nav,
.content {
  width: 960px;
  margin: 0 auto;
}
#search,
.section,
.side_section,
.side_ad,
.login,
.activity,
.rmd,
#footer {
  border: 1px solid #dbdbdb;
  border-radius: 6px;
}
.section,
.main_ad,
.side_section,
.side_ad,
.activity,
.rmd {
  margin-bottom: 10px;
}

#header {
  height: 30px;
  border-radius: 0 0 6px 6px;
}
#nav {
  height: 100px;
  position: relative;
}
#search {
  width: 958px;
  height: 114px;
  margin: 0 auto 10px;
  position: relative;
}
.main {
  width: 710px;
}
.section {
  width: 318px;
  padding: 0 15px;
}
.options {
  position: relative;
  width: 350px;
}
.main_ad {
  overflow: hidden;
  border-radius: 6px;
}
.side {
  width: 240px;
}
.side_section {
  padding: 0 12px;
}
.side_ad {
  border-radius: 6px;
  overflow: hidden;
}
#footer {
  width: 958px;
  height: 63px;
  margin: 0 auto;
  background: #f9f9f9;
}

.options .nav {
  height: 34px;
  position: relative;
  z-index: 2;
  cursor: pointer;
}
.options .nav li {
  width: 172px;
  height: 33px;
  line-height: 33px;
  border: 1px solid #dbdbdb;
  border-radius: 6px 6px 0 0;
  text-align: center;
  position: relative;
}
.options .nav .active {
  height: 34px;
  line-height: 34px;
  border-bottom: none;
  background: white;
}
.nav .triangle-bottom-red, .nav .triangle-bottom-gray {
  top: 14px;
  right: 12px;
}
.options .nav-content {
  width: 318px;
  padding: 0 15px;
  border: 1px solid #dbdbdb;
  border-radius: 0 0 6px 6px;
  position: absolute;
  top: 34px;
  left: 0;
  z-index: 1;
}

/* Header */
#header .city {
  float: left;
  line-height: 30px;
  padding-left: 20px;
}
#header .city .active,#header .city .active:hover {
  color: #d60d03;
  background: white;
}
#header .city a {
  display: inline-block;
  height: 18px;
  line-height: 18px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  box-shadow: 1px 1px 0 #ededed;
  padding: 0 7px;
  color: #999;
}
#header .city a:hover {
  background: #f1f1f1;
}
#header .link {
  color: #d5d5d5;
  float: right;
  line-height: 30px;
  padding-right: 20px;
  word-spacing: 4px;
}
#header .link a {
  color: #666;
  padding-left: 20px;
  background: url('../image/header_link_bg.gif') no-repeat 0 2px;
}
#header .link a:hover {
  text-decoration: underline;
}
#header .link .ico1 {
  background-position: 0 2px; 
}
#header .link .ico2 {
  background-position: 0 -27px;
}


/* Navigation */
#nav ul {
  position: absolute;
  top: 10px;
}
#nav li {
  float: left;  
}
#nav li a {
  display: block;
  width: 66px;
  padding-top: 50px;
  text-align: center;
  background: url('../image/nav_bg.png') no-repeat;
  color: #333;
}
#nav li a:hover {
  color: #d60d03;
}
#nav .bg1 {
  background-position: 0 0;
}
#nav .bg2 {
  background-position: -66px 0;
}
#nav .bg3 {
  background-position: -132px 0;
}
#nav .bg4 {
  background-position: -198px 0;
}
#nav .bg5 {
  background-position: -264px 0;
}
#nav .bg6 {
  background-position: -330px 0;
}
#nav .bg7 {
  background-position: -396px 0;
}
#nav .bg8 {
  background-position: -462px 0;
}
#nav .bg9 {
  background-position: -528px 0;
}
#nav .bg10 {
  background-position: -594px 0;
}
#nav .bg1:hover {
  background-position: 0 -70px;
}
#nav .bg2:hover {
  background-position: -66px -70px;
}
#nav .bg3:hover {
  background-position: -132px -70px;
}
#nav .bg4:hover {
  background-position: -198px -70px;
}
#nav .bg5:hover {
  background-position: -264px -70px;
}
#nav .bg6:hover {
  background-position: -330px -70px;
}
#nav .bg7:hover {
  background-position: -396px -70px;
}
#nav .bg8:hover {
  background-position: -462px -70px;
}
#nav .bg9:hover {
  background-position: -528px -70px;
}
#nav .bg10:hover {
  background-position: -594px -70px;
}
#nav .nav1 {
  left: 10px;
}
#nav .nav2 {
  right: 10px;
}
#nav h1 {
  width: 223px;
  height: 62px;
  margin: 0 auto;
  padding-top: 10px;
}

/* Search */
#search .bar {
  width: 958px;
  height: 64px;
  border: 1px solid #c40d0e;
  position: absolute;
  top: 16px;
  left: -1px;
  background: #e21c01;
  border-radius: 5px;
  box-shadow: 2px 3px 0 #ededed; 
}
#search .bar ul {
  top: -27px;
  left: 226px;
  position: absolute;
}
#search .bar li {
  width: 78px;
  height: 25px;
  line-height: 25px;
  float: left;
  margin-right: 1px;
  border: 1px solid #f8d0bf;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  display: inline-block;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}
#search .bar .active {
  position: relative;
  top: -1px;
  height: 27px;
  background: #e21c01;
  color: white;
  font-weight: bold;
  border: 1px solid #c40d0e;
  border-bottom: none;
  text-shadow: 2px 2px 3px rgba(0,0,0,.25);
}
#search .img {
  width: 163px;
  height: 122px;
  background: url('../image/search_img.png') no-repeat;
  position: absolute;
  left: 32px;
  top: -3px;
  z-index: 2;
}
#search form {
  position: absolute;
  z-index: 2;
  top: 36px;
  left: 226px;
}
#search form .text {
  width: 392px;
  height: 22px;
  border: none;
  background: #fff1ef;
  border-radius: 3px;
  padding-left: 12px;
  float: left;
  margin-right: 10px;
  color: #ea7a7a;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.25) inset;
}
#search form .btn {
  width: 63px;
  height: 26px;
  border: none;
  background: url('../image/search_img.png') no-repeat -163px 0;
  float: left;
  cursor: pointer;
}
#search .recommend {
  width: 206px;
  position: absolute;
  top: 30px;
  right: 36px;
  line-height: 18px;
  color: white;
}
#search .recommend a {
  color: white;
}
#search .recommend a:hover {
  text-decoration: underline;
}
#search .update {
  width: 405px;
  height: 30px;
  position: absolute;
  left: 226px;
  bottom: 0;
  background: url('../image/search_img.png') no-repeat -226px 8px;
}
#search .wrap_update {
  height: 30px;
  width: 336px;
  overflow: hidden;
  position: relative;
  left: 60px;
}
#search .update ul {
  width: 336px;
  position: absolute;
  top: 0;
  left: 0;
}
#search .update li {
  height: 30px;
  line-height: 30px;

}
#search .update a {
  color: #000;
}
#search .update strong {
  color: #d30703;
  font-weight: normal;
}
#search .update span {
  color: #999;
}
#search .update .triangle-top {
  border-bottom:4px solid #e21c01;
  right: 0;
  top: 8px;
  cursor: pointer;
}
#search .update .triangle-bottom {
  border-top:4px solid #e21c01;
  right: 0;
  top: 17px;
  cursor: pointer;
}

/* Video块 */
.video-title {
  height: 42px;
  line-height: 42px;
  color: #d90000;
  font-size: 18px;
  font-weight: normal;
  font-family: arial;
  background: url('../image/video_bg.gif') no-repeat 108px 10px;
}
.video {
  display: block;
  margin-bottom: 13px;
}
.video-list {
  background: url('../image/video_bg.gif') no-repeat 3px -47px;
  height: 78px;
  padding-left: 75px;
}
.video-list li {
  padding-left: 11px;
  background: url('../image/dot.gif') no-repeat 3px center;
  line-height: 20px;
}
.video-list a {
  color: #4d4d4d;
}
.video-list a:hover {
  text-decoration: underline;
}

/* Hot */
.hot-list {
  height: 374px;
  position: relative;
  padding-top: 10px;
}
.hot-list li {
  width: 318px; 
  height: 98px; 
  padding-top: 10px;
  background: url('../image/hot_list_li_bg.gif') no-repeat;
  margin-bottom: 6px; 
}
.hot-list .img {
  float: left;  
}
.hot-list .img a {
  display: block; 
  width: 104px; 
  height: 84px; 
  border: 1px solid #e6e6e6;
}
.hot-list .img a:hover{
  border: 1px solid #666; 
}
.hot-list h3 {
  line-height: 24px;
  font-size: 12px;
  padding-bottom: 6px;
}
.hot-list h3 a {
  font-weight: normal;
  color: #bb0d0d;
}
.hot-list h3 a:hover {
  text-decoration: underline;
}
.hot-list .text {
  width: 190px;
  float: right; 
}
.hot-list p {
  line-height: 16px;
  color: #6e6e6e;
}
.hot-list .more {
  position: absolute;
  right: 15px;
  bottom: 6px;
}

.tab {
  padding: 0 10px;
  border-bottom: 1px solid #dadada;
}
.tab li {
  height: 25px;
  line-height: 24px;
  text-align: center;
  color: #666;
  border: 1px solid #dadada;
  cursor: pointer;
  border-radius: 4px 4px 0 0;
  float: left;
  margin-right: -1px;
  position: relative;
  border-bottom: none;
}
.tab .active {
  height: 25px;
  position: relative;
  border-bottom: 1px solid #fff;
  font-weight: bold;
  margin-bottom: -1px;
  background: white;
}
.tab li i {
  top: 10px;
  right: 12px;
}
.section .tab li {
  width: 98px;
}
.side_section .tab {
  padding: 0 6px;
}
.side_section .tab li {
  width: 66px;
}

.help {
  height: 208px;

}
.help p {
  text-indent: 2em;
}
.help ul {
  border-bottom: 1px solid #dbdbdb;
}
.help li {
  height: 43px;
  line-height: 43px;
  width: 154px;
  text-indent: 30px;
  font-family: arial;
  background: url('../image/help.gif') no-repeat;
}
.help .phone {
  font-size: 16px;
  font-weight: bold;
  color: #b80000;
  background-position: 7px 13px;
}
.help .msn {
  background-position: 7px -30px;
}
.help dl {
  padding: 15px 0 0 10px;
  width: 144px;
}
.help dt {
  font-weight: bold;
  padding-bottom: 8px;
}
.help dd {
  line-height: 18px;
  text-indent: 14px;
  background: url('../image/dot.gif') no-repeat 5px center;
}
.help dd a {
  color: #333;
}
.help dd a:hover {
  text-decoration: underline;
}

.media {
  height: 205px;
  padding-top: 3px;
}
.media li {
  height: 50px;
}
.media a {
  float: left;
  width: 100px;
}
.media p {
  float: right;
  width: 208px;
}

.list-section {}
.list-section li {
  height: 27px;
  line-height: 27px;
  border-top: 1px dotted #dadada;
  background: url('../image/dot.gif') no-repeat 5px center;
  text-indent: 14px;
}
.list-section li a {
  float: left;
  color: #333;
}
.list-section li a:hover {
  color: #c75d61;
}
.list-section li em {
  color: #c3c3c3;
  margin-right: 5px;
}
.list-section li span {
  color: #c75d61;
}
.list-section .col1,
.list-section .col2,
.list-section .col3 {
  display: inline-block;
  text-align: center;
  float: left;
}
.list-section .col2,
.list-section .col3 {
  text-indent: 0;
}

.list-section .headline {
  background: none;
  border: none;
  text-indent: 0;
}
.list-section .headline span {
  color: #999;
}
.list-section img {
  vertical-align: middle;
}
.soso {
  height: 47px;
  border-top: 1px dotted #dadada;
  padding: 17px 0 0 10px;
}
.soso strong {
  color: #595959;
}
.soso .text {
  width: 172px;
  height: 20px;
  line-height: 20px;
  text-indent: 4px;
  border: 1px solid #9c9c9c;
  color: #9c9c9c;
}
.soso .go {
  width: 25px;
  height: 25px;
  margin-left: 10px;
  cursor: pointer;
  vertical-align: middle;
  border: none;
  background: url('../image/btn.gif') no-repeat;
}

.section .col1 {
  width: 273px;
}
.section .col2 {
  width: 35px;
}
.side_section .col1 {
  width: 137px;
}
.side_section .col2 {
  color: #d80000;
  width: 35px;
}
.side_section .col3 {
  color: #333;
  width: 36px;
}

.panoramic {
  height: 138px;
}
.panoramic a {
  color: #333;
}
.panoramic a:hover {
  color: #d80000;
  text-decoration: underline;
}
.panoramic span {
  line-height: 26px;
}

.pic-list li {
  overflow: hidden;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px dotted #dadada;
}
.pic-list .img {

}
.pic-list .img a {
  padding: 2px;
  width: 90px;
  height: 67px;
  display: block;
  border: 1px solid #dadada;
}
.pic-list .img a:hover {
  border: 1px solid #dadada;
}
.pic-list .text {
  width: 108px;
}
.pic-list h3 {
  padding-bottom: 4px;
}
.pic-list h3 a {
  color: #b80000;
  font-weight: normal;
  font-size: 12px;
}
.pic-list h3 a:hover {
  text-decoration: underline;
}
.pic-list p {
  color: #999;
}
.pic-list p a {
  color: #999;
}
.pic-list p a:hover {
  color: #b80000;
  text-decoration: underline;
}
.wrap .pic-list li {
  margin-bottom: 0;
  border-bottom: none;
}
.wrap1 {
  padding-bottom: 10px;
}
.wrap1 .pic-list li {
  width: 107px;
  height: 150px;
  float: left;
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.wrap1 .pic-list .text {
  width: 107px;
}
.wrap1 .pic-list .text h3 {
  padding-top: 5px;
  width: 105px;
}

.login {
  height: 138px;
  overflow: hidden;
  margin-bottom: 10px;
}
.login h2 {
  height: 34px;
  line-height: 34px;
  text-indent: 10px;
  border-bottom: 1px solid #dadada;
}
.login form {
  padding: 15px 10px 2px 10px;
}
.login ul {
  border-bottom: 1px solid #f2f2f2;
}
.login li {
  height: 26px;
}
.login form span {
  width: 58px;
  float: left;
  color: #595959;
  word-spacing: 7px;
}
.login .text {
  float: left;
  width: 87px;
  height: 17px;
  margin-right: 3px;
  border: 1px solid #dadada;
  background: #f7f7f7;
}
.login .btn {
  width: 54px;
  height: 22px;
  border: none;
  color: white;
  font-family: '宋体';
  font-size: 12px;
  font-weight: bold;
  border-radius: 10px;
  background: #cb0000;
}
.login strong {
  font-style: normal;
  padding-left: 3px;
}
.login p {
  line-height: 32px;
  word-spacing: 20px;
  text-align: center;
}
.login p a {
  padding-left: 14px;
  color: #666;
  background: url('../image/dot.gif') no-repeat 5px center;
}

.activity, .rmd {
  width: 348px;
  height: 498px;
}


.new_title {
  height: 70px;
  position: relative;
  background: url('../image/new_title_bg.gif') no-repeat right 0;
}
.rmd .new_title {
  background-position: right -70px;
}
.new_title span,
.new_title strong,
.new_title em {
  position: absolute;
}
.new_title span {
  font-size: 12px;
  font-family: arial;
  color: #ea2b31;
  top: 21px;
  left: 24px;
}
.new_title strong {
  font-size: 24px;
  color: #333;
  top: 31px;
  left: 24px;
  font-weight: normal;
}
.new_title em {
  left: 125px;
  top: 16px;
  color: #ec1c16;
  font-size: 36px;
  font-weight: bold;
}

.activity .con {
  background: url('../image/activity_bg.gif') no-repeat;
}
.activity .info {
  padding: 16px 25px 0;
  height: 104px;
}
.activity .img {
  width: 84px;
  height: 84px;
  float: left;
  position: relative;
}
.activity .img .mark {
  position: absolute;
  width: 84px;
  height: 84px;
  background: url('../image/activity_bg.gif') no-repeat -373px 0;
}
.activity .text {
  float: right;
  width: 204px;
}
.activity .text h3 {
  height: 32px;
  font-size: 12px;
}
.activity .text em {
  width: 25px;
  height: 25px;
  line-height: 25px;
  color: #cf3530;
  margin-right: 4px;
  display: inline-block;
  text-align: center;
  background: url('../image/activity_bg.gif') no-repeat -348px 0; 
}
.activity .text span {
  
}
.activity .text p {
  line-height: 18px;
  color: #999;
}
.calendar {
  width: 323px;
  padding-left: 25px;
  position: relative;
}
.calendar h3 {
  height: 34px;
  line-height: 34px;
  margin-right: 31px;
  text-align: center;
  word-spacing: 10px;
  background: url('../image/adorn.gif') repeat-x;
}
.calendar h3 span {
  font-size: 14px;
  font-family: arial;
  color: #666;
}
.calendar li {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin: 0 2px 2px 0;
  float: left;
  font-weight: bold;
  color: #666;
  text-align: center;
  background: #ededed;
  position: relative;
}
.calendar .noCurrMon {
  background: #f8f8f8;
  color: #ccc;
}
.calendar .active, .calendar .img {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}
.calendar .active {
  width: 36px;
  height: 36px;
  border: 2px solid #d30408;
}
.calendar .img {
  width: 40px;
  height: 40px;
}
.act_info {
  width: 294px;
  height: 84px;
  padding: 10px;
  border: 1px solid #c0c0c0;
  background: #fff;
  box-shadow: 4px 4px 4px rgba(0,0,0,.2);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.act_info img {
  width: 80px;
  height: 80px;
  border: 2px solid #dbdbdb;
  float: left;
}
.act_info .text {
  float: right;
  width: 200px;
}
.act_info h4 {
  font-size: 12px;
  color: #333;
  padding-bottom: 8px;
}
.act_info strong {
  color: #ccc;
  font-size: 18px;
  vertical-align: middle;
  margin-right: 6px;
}
.act_info span {
  width: 8px;
  height: 14px;
  overflow: hidden;
  position: absolute;
  top: 45px;
  left: -8px;
  background: url('../image/adorn.gif') no-repeat 0 -48px;
}

.pic {
  width: 294px;
  height: 168px;
  padding: 12px 12px 0;
  background: #f8f8f8;
  position: relative;
  margin: 0 auto;
}
.pic ul {
  width: 223px;
  height: 133px;
  position: absolute;
  top: 12px;
  left: 12px;
}
.pic ul li {
  width: 223px;
  height: 133px;
  border: 1px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
}
.pic ul li img{
  width: 223px;
  height: 133px;
}
.pic ol {
  position: absolute;
  top: 12px;
  right: 12px;
}
.pic ol li,.pic ol li img {
  width: 54px;
  height: 30px;
}
.pic .active {
  border: 3px solid #d6191d;
}
.pic ol li {
  border: 3px solid #fff;
  margin-bottom: 13px;
}
.pic p {
  position: absolute;
  line-height: 32px;
  left: 12px;
  bottom: 0px;
}

.rmd-list {
  padding: 18px 26px 0;
}
.rmd-list li {
  height: 27px;
  line-height: 27px;
  vertical-align: middle;
}
.rmd-list em {
  margin-right: 7px;
  color: #dfdfdf;
}
.rmd-list img {
  margin-right: 7px;
  vertical-align: middle;
}
.rmd-list a {
  color: #454545;
}
.rmd-list span{
  float: right;
  font-family: arial;
  font-size: 12px;
  color: #999;
}

.traffic {
  height: 330px;
  margin-bottom: 10px;
}

.bbs {
  height: 288px;
}
.bbs li {
  height: 30px;
  line-height: 30px;
  margin-bottom: 3px;
  background: #f8f8f8;
  border-radius: 6px;
  position: relative;
}
.bbs strong {
  float: left;
  width: 45px;
  color: #d80000;
  text-indent: 10px;
}
.bbs a {
  color: #333;
  position: absolute;
}
.bbs .album {
  float: right;
  color: #666;
  padding-right: 22px;
}
.bbs img,.bbs .autor, .bbs .seq,.bbs .active .album {
  display: none;
  position: absolute;
}
.bbs .active {
  height: 70px;
  background: #d90000;
}
.bbs .active img {
  display: block;
  top: 10px;
  left: 10px;
}
.bbs .active a {
  color: #fff;
  font-weight: bold;
  top: 7px;
  left: 70px;
}
.bbs .active .autor {
  display: block;
  color: #fff;
  top: 33px;
  left: 70px;
}
.bbs .active .seq {
  display: block;
  color: #fff;
  bottom: -5px;
  right: 4px;
  font-size: 26px;
  font-weight: bold;
}

.hot-area {
  height: 258px;
}
.hot-area li {
  width: 78px;
  height: 78px;
  float: left;
  margin: 0 2px 2px 0;
  position: relative;
}
.hot-area li p {
  position: absolute;
  width: 144px;
  height: 66px;
  padding: 12px 0 0 12px;
  background: rgba(0,0,0,.5);
  color: #fff;
  top: 0;
  left: 0;
}
.hot-area .big {
  width: 156px;
}
.hot-area .small {
  width: 77px;
}

.wrap2 {
  padding-bottom: 2px;
}
.wrap3 {
  padding-bottom: 4px;
}

/* Footer */
#footer {
  text-align: center;
  margin-bottom: 30px;
  color: #454545;
  line-height: 25px;
  padding-top: 15px;
}
#footer a {
  color: #454545;
  margin: 0 6px;
}